* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff url("/static/image/gradientBackground.png") no-repeat
    center center fixed;
  background-size: cover;
  padding: 40px 15px;
}

.container {
  max-width: 650px;
  margin: auto;
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
}

h1 {
  font-size: 26px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  display: block;
  margin: 15px 0 5px;
}

input[type="file"],
input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  border: 1.5px solid #dcdcdc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus {
  border-color: #4e8cff;
  box-shadow: 0px 0px 4px rgba(78, 140, 255, 0.3);
}

button {
  margin-top: 18px;
  width: 100%;
  padding: 14px;
  background: #4e8cff;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #2868eb;
}

.hidden {
  display: none;
}

.loader {
  margin-top: 20px;
  padding: 12px;
  background: #285cf5;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.result-box {
  margin-top: 25px;
  background: #ffffff;
  border-left: 6px solid #4e8cff;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.result-box p {
  font-size: 16px;
  margin: 5px 0;
}

.label {
  font-weight: 700;
  color: #333;
}
