* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #f4f6fb; */
  background: #ffffff url("/static/image/gradientBackground.png") no-repeat
    center center fixed;
  background-size: cover;
  padding: 40px 15px;
}

.container {
  max-width: 650px;
  margin: auto;
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
}

h1 {
  font-size: 26px;
  font-weight: 700;
  color: #222;
  margin-bottom: 15px;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}

.label {
  font-weight: 600;
  margin-top: 18px;
  display: block;
}

input[type="file"],
input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  margin-top: 5px;
  border: 1.5px solid #dcdcdc;
  border-radius: 8px;
  font-size: 15px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #4e8cff;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: #2868eb;
}

.hidden {
  display: none;
}

.loader {
  margin-top: 20px;
  padding: 12px;
  text-align: center;
  background: #285cf5;
  color: white;
  border-radius: 8px;
}

.result-box {
  margin-top: 25px;
  padding: 18px;
  background: #ffffff;
  border-left: 6px solid #4e8cff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.label2 {
  font-weight: 700;
  color: #333;
}
